<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Novo Contrato</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4">
<div class="container">
  <h2>Novo Contrato</h2>
  <form method="post">
    <div class="row">
      <div class="col"><label>Cooperado<input class="form-control" name="cooperado"></label></div>
      <div class="col"><label>Contrato<input class="form-control" name="numero"></label></div>
      <div class="col"><label>Tipo<input class="form-control" name="tipo"></label></div>
    </div>
    <div class="row mt-3">
      <div class="col"><label>Garantia<input class="form-control" name="garantia"></label></div>
      <div class="col"><label>Valor Contrato<input class="form-control" name="valor_contrato" type="number" step="0.01"></label></div>
      <div class="col">
        <label>Baixa >48mês
          <input type="checkbox" name="baixa_48" class="form-check-input ms-2">
        </label>
      </div>
    </div>
    <!-- demais campos omitidos para brevidade -->
    <button class="btn btn-success mt-4">Salvar</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-4">Voltar</a>
  </form>
</div>
</body>
</html>