{% extends "base.html" %}
{% block content %}
<div class="container py-4">
  <h2>Novo Contrato</h2>
  <form method="post">
    <div class="row mb-3">
      <div class="col"><label>CPF</label><input class="form-control" name="cpf"></div>
      <div class="col"><label>Data Contrato</label><input type="date" class="form-control" name="data_contrato"></div>
    </div>
    <div class="mb-3"><label>Cliente</label><input class="form-control" name="cliente"></div>
    <div class="row mb-3">
      <div class="col"><label>Contrato (número)</label><input class="form-control" name="numero"></div>
      <div class="col"><label>Tipo Contrato</label><input class="form-control" name="tipo_contrato"></div>
    </div>
    <div class="row mb-3">
      <div class="col"><label>Garantia</label><input class="form-control" name="garantia"></div>
      <div class="col"><label>Valor</label><input type="number" step="0.01" class="form-control" name="valor"></div>
    </div>
    <div class="row mb-3">
      <div class="col"><label>Parcelas</label><input type="number" class="form-control" name="parcelas"></div>
      <div class="col"><label>Vencimento 1ª Parcela</label><input type="date" class="form-control" name="vencimento_parcelas"></div>
    </div>
    <button class="btn btn-success">Salvar</button>
  </form>
</div>
{% endblock %}
